include *.md
include Makefile
recursive-include news *.md *.jinja
recursive-include news *.internal
recursive-include src *.zcml *.xml *.pt *.css *.js
recursive-include src *.py
recursive-include src *.woff2
recursive-include src *.po *.pot *.mo
recursive-include etc *.txt *.yml
recursive-include plonex *.in *.py *.yml
recursive-include scripts *.py *.sh
global-exclude *.pyc
